<html>
    <head>
        <title> Juritzys blog</title>
    </head>
      <div>
        <h1 style="color:Pink; font-size: 500%;border: 15px solid yellow; margin: 60px; text-align:center"> Juritzy's Cute Blog </h1>
      <div>
        <div>
                <p>published: 06.07.2017, 2:54</p>
                <h2><a href="">My first cute post</a></h2>
                <p>CUTEEEEEEEEEEEEEEEEE</p>
            </div>

            <div>
                <p>published: 06.07.2017, 2:54</p>
                <h2><a href="">My second cute post</a></h2>
                <p>CUTTTTTTTTTTTTTTE</p>
            </div>
    </body>
</html>
